In [1]:
import pandas as pd
import plotly.express as px

In [2]:
dados = pd.read_excel('../Empacotado.xlsx')

In [3]:
dados

,Data Wheaton Dia,Data Wheaton Mês,Data Wheaton Ano,Corrida,Processo Plan,Maquina,Secao,Item,Coluna1,Prefixo,Qtd Empacotado,Qtd Disponivel,Velocidade Plan,Velocidade Real,(Qtd Empacotado/(Qtd Quebra+Qtd Empacotado))
0,13.0,6.0,2024.0,193882,DUPLA GOTA,B1,8,C1268.0000.R001,MB -1344-N1X | F | NH | C | LISO | FLORATTA | ...,MB -1344-N1X,131280,131600,7313,7810,0.828788
1,12.0,6.0,2024.0,193882,DUPLA GOTA,B1,8,C1268.0000.R001,MB -1344-N1X | F | NH | C | LISO | FLORATTA | ...,MB -1344-N1X,127440,128800,7210,7700,0.804545
2,11.0,6.0,2024.0,193882,DUPLA GOTA,B1,8,C1268.0000.R001,MB -1344-N1X | F | NH | C | LISO | FLORATTA | ...,MB -1344-N1X,121040,112000,6901,7370,0.764141
3,1.0,5.0,2024.0,193694,DUPLA GOTA,B1,8,C0529.0000.R001,MB -1390-N1 | F | NH | B | LISO | SOPHIE | NH ...,MB -1390-N1,116712,115200,7416,7488,0.779327
4,14.0,6.0,2024.0,193882,DUPLA GOTA,B1,8,C1268.0000.R001,MB -1344-N1X | F | NH | C | LISO | FLORATTA | ...,MB -1344-N1X,116080,114800,6695,7150,0.732828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,17.0,6.0,2024.0,193533,DUPLA GOTA,B1,8,C1165.0000.R001,MB -1520-S | F | NH | B | LISO | GLAMOUR | NH ...,MB -1520-S,0,0,0,0,NaN
216,20.0,3.0,2024.0,192384,DUPLA GOTA,B1,5,C1298.0000.R002,MB -1546-S | Z17 | NH | B | LISO | QUASAR CLAS...,MB -1546-S,0,2880,0,0,NaN
217,NaN,NaN,NaN,193207,DUPLA GOTA,B1,5,C1298.0000.R002,MB -1546-S | Z17 | NH | B | LISO | QUASAR CLAS...,MB -1546-S,0,2880,0,0,NaN
218,NaN,NaN,NaN,193462,DUPLA GOTA,B1,8,C1284.0000.R001,MB -1546-S | F | NH | B | LISO | QUASAR | NH |...,MB -1546-S,0,0,528,540,0.000000
219,24.0,3.0,2024.0,192305,DUPLA GOTA,B1,8,C1284.0000.R001,MB -1546-S | F | NH | B | LISO | QUASAR | NH |...,MB -1546-S,0,25920,0,0,NaN

In [7]:
empacotado_por_ordem = dados.groupby('Corrida')[['Qtd Empacotado']].sum()

In [8]:
empacotado_por_ordem

         Qtd Empacotado
Corrida
192305                0
192384                0
192970           384300
193112           207900
193164          1029000
193206           181440
193207           406080
193208           104500
193209           194250
193342          1459500
193368           627200
193459            86400
193462           262080
193463           365760
193533           595200
193535           182400
193537           149600
193594           588000
193619           330750
193671           148050
193686           180600
193688           105600
193689           103680
193692           145200
193694           415200
193782           889600
193783           107100
193784           794200
193852           336000
193882           781200
193937           141120
193972           138600
193973           295200
194029           248640
194057           192500
194113           165000
194121           323400